<a href="<%= current_user ? my_root_path : root_path %>" aria-label="QV logo">
  <%= render partial: "shared/logo-svg", locals: { size: size } %>
  <span class="font-bold text-15 text-black">Voqua</span>
</a>
