.vote-button .vote { display: inline; }
.vote-button .more { display: none; }
.vote-button .fewer { display: none; }

.vote-button[data-state="has-votes"] .vote { display: none; }
.vote-button[data-state="has-votes"] .more { display: inline; }
.vote-button[data-state="max-votes"] .more { display: none; }
.vote-button[data-state="max-votes"] .fewer { display: inline; }

/* Credit visualization colors */
.credit.bg {
  fill: #E5E7EB;  /* gray-200 for unused spots */
}

.credit.foreground {
  fill: #000000;  /* black for remaining credits and in favor */
}

[data-credits-against] .credit.foreground {
  fill: #EF4444;  /* red-500 for opposed */
}

[data-all-credits] .credit.foreground {
  fill: #000000;  /* black for remaining credits */
}

[data-all-credits] .credit.foreground.used {
  fill: #E5E7EB;  /* gray-200 for used credits in the pool */
}
