<h2>You've been invited to participate in "<%= @ballot.name %>"</h2>

<p><%= @inviter_email %> has invited you to participate in a decision-making process using Voqua's intelligent prioritization system.</p>

<p>With Voqua, you'll receive points to allocate across different options. This allows you to express not just your preferences, but also how strongly you feel about each choice, helping your group make better decisions faster.</p>

<%= link_to 'Join Vote', @url, class: 'button' %>
