<p>Welcome to Voqua,</p>

<p>Please confirm your email address to start using Voqua's quadratic voting platform.</p>

<%= link_to 'Confirm Email', confirmation_url(@resource, confirmation_token: @token), class: 'button' %>

<p>This link will expire in 24 hours for security.</p>
