<p>Hello <%= @resource.email %>!</p>

<% if @resource.tmp_vote_token %>
  <p>!!!!!!!!!!!!Confirm your email address to submit your vote.</p>
<% end %>

<p>You can login using the link below:</p>

<p><%= link_to "Log in to my account", users_custom_magic_link_url(@scope_name => {email: @resource.email, token: @token, remember_me: @remember_me, tmp_vote_token: @resource.tmp_vote_token}) %></p>

<p>Note that the link will expire in <%= Devise.passwordless_login_within.inspect %>.</p>
