<h2>Reset Your Password</h2>

<p>A password reset was requested for your Voqua account. You can reset your password using the link below.</p>

<%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: 'button' %>

<p>If you didn't request this change, please ignore this email. Your password won't be changed unless you use the link above.</p>

<p style="color: #666; font-size: 14px;">This password reset link will expire in 6 hours for security.</p>
